.main {
  width: 100%;
  max-width: 1240px;
}

.title {
  composes: text text_type_main-large from global;
  margin-top: 40px;
}

.twoColumns {
  margin-top: -20px;
  display: flex;
  column-gap: 60px;
}

.ordersTable {
  width: 100%;
  max-width: 580px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 370px 150px 150px;
  gap: 60px 36px;
  grid-template-areas:
  "ready progress"
  "all all"
  "today today";
  margin-top: 40px;
}

.ready {
  composes: text text_type_digits-default from global;
  color: #0cc;
}

.inProgress {
  composes: text text_type_digits-default from global;
}