.listItem {
  border-radius: 40px;
  width: 100%;
  background-color: #1C1C21;
  display: flex;
  flex-direction: column;
  height: 246px;
  padding: 24px;
  box-sizing: border-box;
}

.techInfo {
  display: flex;
  justify-content: space-between;
}

.id {
  margin: 0;
  composes: text text_type_digits-default from global;
}

.date {
  composes: text text_type_main-default text_color_inactive from global;
}

.name {
  composes: text text_type_main-medium from global;
  composes: pt-6 from global;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.status {
  composes: text text_type_main-default from global;
  composes: pt-2 from global;
}

.totalInfo {
  composes: pt-6 from global;
  display: flex;
  justify-content: space-between;
}

.totalPrice {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.amount {
  composes: text text_type_digits-default from global;
}