.table {
  overflow-y: scroll;
  composes: custom-scroll from global;
}

.table::-webkit-scrollbar {
  width: 8px;
}

.table::-webkit-scrollbar-track {
  margin-top: 40px;
  margin-bottom: 52px;
}

.table::-webkit-scrollbar-thumb {
  border: 0;
  border-radius: 0;
}