.header {
  composes: pt-4 pb-4 from global;
  display: flex;
  justify-content: space-around;
  background-color: #1C1C21;
  width: 100%;
}

.nav {
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
}

.text {
  composes: text text_type_main-default pl-2 from global;
}

.link {
  cursor: pointer;
  display: flex;
  align-items: center;
  composes: pl-5 pr-5 pt-4 pb-4 from global;
  color: inherit;
  filter: brightness(100%);
  transition: filter .3s ease;
  text-decoration: none;
}

.link:hover {
  filter: brightness(50%);
}

.link_inactive {
  composes: link;
  color: #8585ad;
  filter: brightness(100%)
}

.link_inactive:hover {
  filter: brightness(200%)
}

.logoLink {
  cursor: pointer;
  filter: saturate(100%);
  transition: filter .2s ease;
}

.logoLink:hover {
  filter: saturate(500%);
}

.lk {
  composes: link_inactive;
  margin-left: 288px;
}

.menuButtons {
  display: flex;
  column-gap: 8px;
  margin-right: 112px;
}