.listItem {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.image {
  composes: pl-4 pr-4 from global;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  filter: opacity(85%);
  transition: filter .3s ease;
}

.image:hover, .image:hover ~ .priceBox {
  filter: opacity(100%);
}

.priceBox {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  filter: opacity(85%);
  transition: filter .3s ease;
}

.price {
  composes: text text_type_digits-default from global;
}

.name {
  cursor: pointer;
  composes: text text_type_main-default from global;
  composes: pb-6 from global;
  text-align: center;
  opacity: 1;
  transition: opacity .3s ease;
}

.name:hover {
  opacity: .6;
}